doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='google-site-verification' content="XBRZ5rOc8YWhtAFSS_ZT1RCcMrfT83tY9rviYLYkTqE")
    title React-Auth
    link(rel='stylesheet' href='/static/style.css')
  body
    div(id='app')
    script(src='/static/bundle.js')